@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Poppins;
  font-size: 14px;
}

a {
  text-decoration: none;
}
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#navbar {
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 50px rgba(24, 24, 24, 0.15);
  position: sticky;
  top: 0;
  background-color: white;
}

#logo {
  width: 20%;
  height: auto;
}
#nav-link {
  font-size: 0.8em;
  line-height: 4em;
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: grey;
  font-weight: 500;
}

#logins {
  display: flex;
  justify-content: space-between;
  width: 34%;
  font-weight: 400;
}
#logins a {
  display: inline-block;
  padding: 0.4em 2.5em;
  font-weight: 400;
  margin: auto;
  border-radius: 4px;
}
#log-in {
  color: purple;
  border: 7px purple;
  box-sizing: border-box;
}
.link-btns {
  background-color: purple;
  color: white;
  padding: 0.8em 2.5em;
  border-radius: 4px;
}

.spacing1 {
  margin: 34.5px;
}

.spacing2 {
  margin: 46.5px;
}

.spacing3 {
  margin: 49.5px;
}

/* FAQs */
main {
  margin-left: 222px;
  text-align: left;
}

.login {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  width: 159px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #8b20bb;
  border-radius: 4px;
}

.signup {
  margin-left: i6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  width: 159px;
  height: 50px;
  background: #8b20bb;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 29px;
  color: #ffffff;
}

#header {
  width: 60px;
  height: 36px;
  font-weight: 400;
  font-size: 24px;
  margin-top: 90px;
  line-height: 36px;
  color: #8b20bb;
}

#questions {
  width: 753px;
  height: 174px;
  margin-left: 22px;
  font-weight: 500;
  font-size: 19.2px;
  line-height: 29px;
  color: #000000;
}

.headings {
  height: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #8b20bb;
  order: 1;
}

.small-logo {
  float: left;
  width: 20px;
  height: 30px;
}

#illustration {
  float: right;
  width: 30%;
  height: auto;
}

.answers {
  max-width: 594px;
  height: 72px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}
footer {
  position: relative;
  padding: 2em 2em 0;
  margin: 3em 0 0;
  border-top: 1px solid var(--regular-purple);
  border-bottom: 1px solid var(--regular-purple);
}
footer #logo {
  position: absolute;
  top: 2em;
  left: 2em;
  width: 200px;
  height: auto;
}

footer div {
  text-align: right;
}
.copyright {
  margin: 4em 0 2em;
  text-align: center;
  color: var(--greyy);
}

footer hr {
  position: absolute;
  width: 30px;
  left: 50%;
  bottom: 50%;
  margin: 0;
  background-color: grey;
  height: 1px;
  border-width: 0;
}
#footer-links {
  position: relative;
  padding: 0;
  display: flex;
  line-height: 50px;
  justify-content: space-between;
}
#footer-links a {
  color: purple;
}

/* Media  */

@media screen and (max-width: 960px) {
  body {
    max-width: 100%;
  }
}

@media screen and (max-width: 920px) {
  body {
    max-width: 100%;
  }
  main {
    margin-left: 150px;
    text-align: left;
  }

  footer #logo {
    width: 180px;
    margin: 0 2em;
    padding: 0 0 0 1em;
  }
  footer {
    width: 100%;
    position: relative;
    padding: 2em 2em 0;
    margin: 3em 0 0;
    border-top: 1px solid var(--regular-purple);
    border-bottom: 1px solid var(--regular-purple);
  }
  #footer-links {
    position: relative;
    margin: 0 2em;
    padding: 0;
    display: flex;
    line-height: 50px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 850px) {
  #auth a {
    padding: 0.2em 2.2em;
  }
}

@media screen and (max-width: 790px) {
  #auth a {
    font-size: 0.8em;
    padding: 0.4em 2.3em;
  }

  #navbar {
    width: 100%;
    padding: 0 1em 0 1em;
    margin: auto;
    justify-self: center;
  }
  #nav-links {
    font-size: 0.7em;
    width: 40%;
  }
  #ilustration {
    margin: auto;
  }

  footer {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  body {
    width: 100%;
    font-size: 12px;
  }
  footer #logo {
    width: 150px;
  }
  .link-btns {
    padding: 0.5em 2.2em;
  }
}
@media screen and (max-width: 640px) {
  #nav-links {
    width: 50%;
  }
  footer #logo {
    width: 120px;
  }
  .link-btns {
    padding: 0.4em 2em;
  }
}

@media screen and (max-width: 590px) {
  .vertical {
    left: -8.5%;
  }
  #auth a {
    font-size: 0.8em;
    padding: 0.2em 1.7em;
  }
}
@media screen and (max-width: 540px) {
  .vertical {
    left: -9.2%;
  }
}
